name: Build Node binaries for Linux

on:
  workflow_dispatch:
    inputs:
      node:
        description: "Node major version"
        required: true
        default: "22"
jobs:
  linux-armv7:
    runs-on: macos-14 # ARM64 runner for better ARMv7 emulation performance

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:latest
          buildkitd-flags: --allow-insecure-entitlement=security.insecure --allow-insecure-entitlement=network.host

        # Remove unneeded stuff to free up build space (from Node https://github.com/nodejs/build/issues/3878)
      - name: Cleanup before build
        run: |
          sudo rm -rf /Users/runner/Library/Android/sdk
          sudo rm -rf /Users/runner/Library/Developer/CoreSimulator/Caches
          echo "::group::Free space after cleanup"
          df -h
          echo "::endgroup::"

      - name: Build
        id: build
        uses: docker/build-push-action@v6
        with:
          build-args: |
            PKG_FETCH_OPTION_a=armv7
            PKG_FETCH_OPTION_n=node${{ github.event.inputs.node }}
          context: .
          file: ./Dockerfile.linuxcross
          platforms: linux/arm/v7
          outputs: type=local, dest=dist

      - name: Check if binary is compiled, skip if download only
        id: check_file
        run: |
          ls -l dist
          (test -f dist/*.sha256sum && echo "EXISTS=true" >> $GITHUB_OUTPUT) || echo "EXISTS=false" >> $GITHUB_OUTPUT
      
      - name: Upload node binary to release
        if: steps.check_file.outputs.EXISTS == 'true'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ github.token }}
          file: dist/*
          file_glob: true
          tag: node${{ github.event.inputs.node }}
          overwrite: true
